# Libs

In [3]:
import os
import warnings
warnings.filterwarnings('ignore')
from tqdm import tqdm
import logging
import numpy as np

import pandas as pd
pd.set_option('display.max_columns',None)
import numpy as np

import geopandas as gpd
from shapely import Point, LineString, Polygon, MultiPoint
from shapely.ops import nearest_points
from sklearn.cluster import DBSCAN

from tqdm import tqdm
tqdm.pandas()

# 시각화 라이브러리
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import font_manager as fm, rc

# 한글 폰트 설정
font_path = '/usr/local/src/python3.10/lib/python3.10/site-packages/matplotlib/mpl-data/fonts/ttf/KoPub Dotum Medium.ttf'
font_name = fm.FontProperties(fname=font_path).get_name()
plt.rc('font', family=font_name)

# Data Import

In [4]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("blastchar/telco-customer-churn")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.5), please consider upgrading to the latest version (0.3.6).
Downloading from https://www.kaggle.com/api/v1/datasets/download/blastchar/telco-customer-churn?dataset_version_number=1...

100%|██████████| 172k/172k [00:00<00:00, 419kB/s]

Extracting files...
Path to dataset files: /home/bmw/.cache/kagglehub/datasets/blastchar/telco-customer-churn/versions/1

# Data Explore

In [6]:
df = pd.read_csv(os.path.join(path,os.listdir(path)[0]))

In [8]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [119]:
a = '''CU	320009	S
HM	000365	S
JE	010281	F
JE	020137	F
JE	020137	S
ME	18B303	F
ME	20D801	F
ME	20D901	F
ME	21A309	F
ME	21A401	F
ME	21A403	F
ME	21A406	F
ME	21A906	F
ME	21A907	F
ME	21A909	F
ME	21A915	F
PI	550430	S
PW	013443	S
RE	000152	S
ST	116517	F
ST	116517	S
ST	411360	F
ST	414634	F
ST	416712	F
ST	416713	F
ST	431146	F
ST	441324	F
ST	451403	F
ST	472810	F
ST	478507	F'''

In [124]:
cnt = 0
for i in [x.split('\t') for x in a.split('\n')]:
    print(f"nohup python3 forecast.py {i[0]} {i[1]} {i[-1]} &")
print('tail -f nohup.out')

nohup python3 forecast.py CU 320009 S &
nohup python3 forecast.py HM 000365 S &
nohup python3 forecast.py JE 010281 F &
nohup python3 forecast.py JE 020137 F &
nohup python3 forecast.py JE 020137 S &
nohup python3 forecast.py ME 18B303 F &
nohup python3 forecast.py ME 20D801 F &
nohup python3 forecast.py ME 20D901 F &
nohup python3 forecast.py ME 21A309 F &
nohup python3 forecast.py ME 21A401 F &
nohup python3 forecast.py ME 21A403 F &
nohup python3 forecast.py ME 21A406 F &
nohup python3 forecast.py ME 21A906 F &
nohup python3 forecast.py ME 21A907 F &
nohup python3 forecast.py ME 21A909 F &
nohup python3 forecast.py ME 21A915 F &
nohup python3 forecast.py PI 550430 S &
nohup python3 forecast.py PW 013443 S &
nohup python3 forecast.py RE 000152 S &
nohup python3 forecast.py ST 116517 F &
nohup python3 forecast.py ST 116517 S &
nohup python3 forecast.py ST 411360 F &
nohup python3 forecast.py ST 414634 F &
nohup python3 forecast.py ST 416712 F &
nohup python3 forecast.py ST 416713 F &
nohup python3 forecast.py ST 431146 F &
nohup python3 forecast.py ST 441324 F &
nohup python3 forecast.py ST 451403 F &
nohup python3 forecast.py ST 472810 F &
nohup python3 forecast.py ST 478507 F &
tail -f nohup.out

In [120]:
[x.split('\t') for x in a.split('\n')]

[['CU', '320009', 'S'],
 ['HM', '000365', 'S'],
 ['JE', '010281', 'F'],
 ['JE', '020137', 'F'],
 ['JE', '020137', 'S'],
 ['ME', '18B303', 'F'],
 ['ME', '20D801', 'F'],
 ['ME', '20D901', 'F'],
 ['ME', '21A309', 'F'],
 ['ME', '21A401', 'F'],
 ['ME', '21A403', 'F'],
 ['ME', '21A406', 'F'],
 ['ME', '21A906', 'F'],
 ['ME', '21A907', 'F'],
 ['ME', '21A909', 'F'],
 ['ME', '21A915', 'F'],
 ['PI', '550430', 'S'],
 ['PW', '013443', 'S'],
 ['RE', '000152', 'S'],
 ['ST', '116517', 'F'],
 ['ST', '116517', 'S'],
 ['ST', '411360', 'F'],
 ['ST', '414634', 'F'],
 ['ST', '416712', 'F'],
 ['ST', '416713', 'F'],
 ['ST', '431146', 'F'],
 ['ST', '441324', 'F'],
 ['ST', '451403', 'F'],
 ['ST', '472810', 'F'],
 ['ST', '478507', 'F']]